apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: virtualclusters.tenancy.x-k8s.io
spec:
  group: tenancy.x-k8s.io
  names:
    kind: Virtualcluster
    plural: virtualclusters
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            clusterDomain:
              type: string
            clusterVersionName:
              type: string
            pkiExpireDays:
              format: int64
              type: integer
          required:
          - clusterDomain
          - clusterVersionName
          - pkiExpireDays
          type: object
        status:
          properties:
            conditions:
              items:
                properties:
                  lastProbeTime:
                    format: date-time
                    type: string
                  lastTransitionTime:
                    format: date-time
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  status:
                    type: string
                required:
                - status
                type: object
              type: array
            message:
              type: string
            phase:
              type: string
            reason:
              type: string
            versionHistory:
              items:
                properties:
                  ClusterVersionName:
                    type: string
                  clusterVersion:
                    properties:
                      apiVersion:
                        type: string
                      kind:
                        type: string
                      metadata:
                        type: object
                      spec:
                        properties:
                          apiServer:
                            properties:
                              metadata:
                                type: object
                              service:
                                type: object
                              statefulset:
                                type: object
                            type: object
                          controllerManager:
                            properties:
                              metadata:
                                type: object
                              service:
                                type: object
                              statefulset:
                                type: object
                            type: object
                          etcd:
                            properties:
                              metadata:
                                type: object
                              service:
                                type: object
                              statefulset:
                                type: object
                            type: object
                        type: object
                      status:
                        type: object
                    type: object
                required:
                - ClusterVersionName
                - clusterVersion
                type: object
              type: array
          required:
          - phase
          - message
          - reason
          type: object
      type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
